<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>敲李奶奶</title>
    <link href="../static/image/summer.png" type="image/x-icon" rel="shortcut icon"/>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/vue.js"></script>
    <script type="application/javascript" src="../static/js/index.js"></script>
    <script type="application/javascript" src="../static/js/axios.min.js"></script>
</head>
<body>
<div style="text-align: center"><h2>欢迎使用敲李奶奶超市物品检索系统</h2></div>

</body>
</html>